server:
  port: 8084

spring:
  application:
    name: user-service
  jwt:
    secret: mysuperlongsecretkeythatissecureandlongenoughforjwttokengeneration1234567890
  datasource:
    url: jdbc:h2:file:./data/userdb;AUTO_SERVER=TRUE
    username: sa
    password:
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    defer-datasource-initialization: true
    open-in-view: false

eureka:
  instance:
    hostname: localhost
    prefer-ip-address: false
  client:
    service-url:
      defaultZone: http://127.0.0.1:8761/eureka/

management:
  endpoints:
    web:
      exposure:
        include: health

logging:
  level:
    com.trace.user: INFO
    org.springframework.web: INFO
    org.hibernate.SQL: DEBUG
